*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    padding: 0;
}

body, html { 
    overflow-x: hidden;
}


body{
    background-color: #EADBC8;
    color: #ffffff;
}


nav{
    min-width: 100%;
    background-color: #111;
    padding: 12px 30px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.navFlex.links{
    gap: 30px;
    position: fixed;
    right: 2%;
}

.navFlex a{
    color: #ffffff;
    text-decoration: none;
}

.navFlex a:hover{
    border-bottom: 1px solid #ffffff;
}

.navFlex h2 a:hover{
    border-bottom: none;
}


.logo{
    height: 60px;
    width: 55px;
    border-radius: 50%;
}

section.intro{
    background-color: #EADBC8;
    padding: 100px;
    color: #111;
}

.introName{
    font-size: 50px;
    letter-spacing: 1rem;
    font-weight: bold;
}

.hrFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.hrFlex hr{
    height: 100px;
    width: 2px;
    background-color: #111;
    color: #ffffff;
}

.hrFlex p{
    font-size: 20px;
    padding-right: 100px;
}

.socials{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.social:hover{
    background-color: #ffffff;
}

.social{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navDownArrow{
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navDownArrow .navCircle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}



.navDownArrow .navCircle:hover{
    border: 2px solid #345e82;
    transition: 0.5s ease-in-out;
}

.fa-angle-down{
    text-align: center;
    color: #111;
    font-size: 30px;
    width: 100%;
    height: 100%;
}

section.projects{
    background-color: #FFF6E9;
    margin-top: 10px;
    color: #111;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 50px;
    overflow: hidden;
    width: 100%;
}

.projectsGrid{
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
}

.project{
    height: 100%;
    width: 100%;
}

#javascript{
    padding-top: 10px;
    cursor: pointer;
    padding-left: 10px;
}

#react{
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.active{
    background-color: #171b20;
    color: #ffffff; 
}

.jsReactFlex{
    display: flex;
}
.box{
    min-width: 100%;
}

.dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 1px solid #006989;
}

.javascriptProjects h2{
    margin-top: 50px;
    text-align: center;
    font-size: 3rem;
    color: #006989;
}

.design{
    text-align: center;
    margin: 30px 50px;
    font-size: 1.2rem;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
}

.viewAllBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewAllBtn button{
    cursor: pointer;
    background-color: #006989;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.viewAllBtn a{
    color: #ffffff;
    text-decoration: none;
}

.viewAllBtn button:hover{
    background-color: #333;
    color: #ffffff;
    transition: 1s ease-in-out;
}

.jsGrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 30px;
}

.jsProject{
    padding: 20px;
    background-color: #FFF6E9;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 20px;
}

.jsProject a{
    text-decoration: none;
}

.jsProject h3{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
}

.projectDetails p{
    font-weight: normal;
}

.projectDetails a{
    text-decoration:none;
}

.projectDetails .github{
    text-decoration:underline;
}

.reactProjects{
    padding: 20px;
}

.eachReactProject{
    margin: 10px;
}

.reactProjectsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.reactProjects h1{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

.eachReactProject{
    height: 350px;
    background-color: #345e82;
    color: #ffffff;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
}

.reactImage{
    height: 60%;
    width: 100%;
}

.reactImage img{
    height: 100%;
    width: 100%;
}

.eachReactProject h2{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
}

.eachReactProject p{
    line-height: normal;
    font-size: 14px;
}

.eachReactProject a{
    background-color: #ffffff;
    padding: 8px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #345e82;
    font-size: 12px;
    font-weight: bold;
}

.slides{
    display: flex;
    transition: transform 0.5s ease;
}

.slide img{
    height: 100%;
    width: 100%;
}
.slide{
    text-align: center;   
    display: none;
    /* height: 80%; */
    width: 100%;
}

.slideII img{
    height: 100%;
    width: 100%;
}
.slideII{
    text-align: center;   
    display: none;
    width: 100%;
}


.slideIII img{
    height: 100%;
    width: 100%;
}

.slideIII{
    text-align: center;   
    display: none;
    width: 100%;
}


.slideIIII img{
    height: 100%;
    width: 100%;
}
.slideIIII{
    text-align: center;   
    display: none;
    width: 100%;
}

#about{
    background: linear-gradient(90deg,  #1e252d,#345e82, #1e252d);
    color: #fff;
    padding: 50px 0px;
}

.aboutImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#about p{
    padding: 20px 100px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.viewResumeBtn a{
    color: #ffffff;
    text-decoration: none;
}

#contact{
    background-color: rgb(26, 24, 24);
    padding: 5rem 8rem;
    color:  rgb(236, 231, 225);
}

#contact h1{
    font-size: 10rem;
    margin-bottom: 2rem;
    font-family: "EB Garamond", serif;
    font-weight: 300;
    font-style: normal;
}

#contact a{
    color:  rgb(236, 231, 225);
}

#contact p{
    font-size: 14px;
}

#contact .phone{
    margin-top: -12px;
}

#contact .socials{
    margin-bottom: 30px;
}

#contact .social:hover{
    background-color: #345e82;
}

.viewResume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewResume button{
    cursor: pointer;
    background-color: #006989;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.viewResume button:hover{
    background-color: #333;
    color: #ffffff;
    transition: 1s ease-in-out;
}

.navigateUp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #111;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 2%;
    cursor: pointer;
}

.navigateUp a{
    color: #ffffff;
}

.fa-arrow-up{
    text-align: center;
    margin-top: 30%;
    width: 100%;
    height: 100%;
}

.navButtons{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 5px;
}

.navButtons div{
    background-color: #345e82;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previousBtn, .nextBtn{
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
}

.nextBtn{
    right: 0;
    border-radius: 3px 0 0 3px;
    padding-right: 20px;
}

.previousBtn:hover, .nextBtn:hover{
    color: #111;
}

.slideup{
    animation: slideUp 2s ease normal;
}

.slideabove{
    animation: slideAbove 2s ease normal;
}

.textslide{
    animation: textSlide 2s ease normal;
}

.slidein{
    animation: slideIn 3s ease forwards;
}

.repeatslide{
    animation: repeatSlide 2s ease normal;
}

@keyframes slideUp{
    from {
        transform: translateY(0.5%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes textSlide{
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn{
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideAbove{
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(-8%);
        opacity: 1;
    }
}

@keyframes repeatSlide{
    from {
        transform: translateY(0.5%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width:360px) {
    section.intro{
        padding: 100px 30px 50px;
    }

    .navFlex.links{
        gap: 10px;
    }

    #nametag a{
       font-size: 20px;
    }

    #navDivEl a{
        font-size: 10px;
    }

    .introName{
        font-size: 32px;
        letter-spacing: 1rem;
    }

    .hrFlex hr{
        height: 150px;
    }
    
    .hrFlex p{
        font-size: 16px;
        padding-right: 100px;
    }

    .socials{
        margin-top: 2px;
    }
    
    .navDownArrow .navCircle{
        width: 40px;
        height: 40px;
    }
    
    .fa-angle-down{
        font-size: 20px;
    }

    section.projects{
        margin-top: 20px;
    }
    
    .projectsGrid{
        grid-template-columns: 30% 70%;
    }
    
    .dots{
        gap: 5px;
    }
    
    .javascriptProjects h2{
        font-size: 2rem;
    }
    
    .design{
        margin: 30px 10px;
        font-size: 1rem;
    }
    
    .viewAllBtn button{
        padding: 10px;
    }

    .jsGrid{
        display: block;
    }

    
    .reactProjectsGrid{
        display: block;
    }
    
    .reactProjects h1{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    
    #about p{
        padding: 20px 30px;
        font-size: 16px;
    }
      
    #contact{
        padding: 5rem 3rem;
    }
    
    #contact h1{
        font-size: 7rem;
    }
    
    
    #contact p{
        font-size: 12px;
    }
    
    #contact .socials{
        margin-bottom: 20px;
    }
     
    .navigateUp{
        width: 40px;
        height: 40px;
    }
}


@media (min-width: 360px) and (max-width: 420px) {
    section.intro{
        padding: 100px 30px 50px;
    }
    
    .navFlex.links{
        gap: 10px;
    }

    #nametag a{
       font-size: 22px;
    }

    #navDivEl a{
        font-size: 11px;
    }

    .introName{
        font-size: 32px;
        letter-spacing: 1rem;
    }

    .hrFlex hr{
        height: 150px;
    }
    
    .hrFlex p{
        font-size: 16px;
        padding-right: 100px;
    }

    .socials{
        margin-top: 2px;
    }
    
    .navDownArrow .navCircle{
        width: 40px;
        height: 40px;
    }
    
    .fa-angle-down{
        font-size: 20px;
    }

    section.projects{
        margin-top: 20px;
    }
    
    .projectsGrid{
        grid-template-columns: 30% 70%;
    }
    
    .dots{
        gap: 5px;
    }
    
    .javascriptProjects h2{
        font-size: 2rem;
    }
    
    .design{
        margin: 30px 10px;
        font-size: 1rem;
    }
    
    .viewAllBtn button{
        padding: 10px;
    }

    .jsGrid{
        display: block;
    }

    
    .reactProjectsGrid{
        display: block;
    }
    
    .reactProjects h1{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    
    #about p{
        padding: 20px 30px;
        font-size: 16px;
    }
      
    #contact{
        padding: 5rem 3rem;
    }
    
    #contact h1{
        font-size: 7rem;
    }
    
    
    #contact p{
        font-size: 12px;
    }
    
    #contact .socials{
        margin-bottom: 20px;
    }
     
    .navigateUp{
        width: 40px;
        height: 40px;
    }

}


@media (min-width: 420px) and (max-width: 768px){

    section.intro{
        padding: 100px 30px 50px;
    }

    .navFlex.links{
        gap: 20px;
    }

    #nametag a{
       font-size: 25px;
    }

    #navDivEl a{
        font-size: 12px;
    }

    .introName{
        font-size: 32px;
        letter-spacing: 1rem;
    }

    .hrFlex hr{
        height: 150px;
    }
    
    .hrFlex p{
        font-size: 16px;
        padding-right: 100px;
    }

    .socials{
        margin-top: 2px;
    }
    
    .navDownArrow .navCircle{
        width: 40px;
        height: 40px;
    }
    
    .fa-angle-down{
        font-size: 20px;
    }

    section.projects{
        margin-top: 20px;
    }
    
    .projectsGrid{
        grid-template-columns: 30% 70%;
    }
    
    .dots{
        gap: 5px;
    }
    
    .javascriptProjects h2{
        font-size: 2rem;
    }
    
    .design{
        margin: 30px 10px;
        font-size: 1rem;
    }
    
    .viewAllBtn button{
        padding: 10px;
    }

    .jsGrid{
        display: block;
    }

    
    .reactProjectsGrid{
        display: block;
    }
    
    .reactProjects h1{
        margin-top: 20px;
        font-size: 1.2rem;
    }
    
    #about p{
        padding: 20px 30px;
        font-size: 16px;
    }
      
    #contact{
        padding: 5rem 3rem;
    }
    
    #contact h1{
        font-size: 7rem;
    }
    
    
    #contact p{
        font-size: 12px;
    }
    
    #contact .socials{
        margin-bottom: 20px;
    }
     
    .navigateUp{
        width: 40px;
        height: 40px;
    }
    
}
